{% extends 'base.html' %}
    {% block tittle %}{{block.super}} {% endblock %}

<body>
{% block content %}
    
   
      <div class="col-sm-6 col-sm-offset-3 ">

    {{title}}
    
      
    {% for obj in post_list %}
     <div class="row">
      <div class="col-sm-12">
    <div class="thumbnail">

      <div class="caption">
      {% if obj.image %}
       <img src="{{obj.image.url}}" class='img-responsive' alt="">
      {% endif %}
      <h3><a href="{{obj.get_absolute_url}}">  {{obj.title}}</a>  <small> {{obj.timestamp}}</small></h3>
    <p> {{obj.content|linebreaks|truncatechars:130}} </p>
     <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>

      </div>
   
       </div>
  </div>
 
  {% cycle "" "<div class='col-sm-12'><hr></div></div><div class='row'>" %}
   </div>
    {% endfor %}
      
      
      <div class="pagination">
    <span class="step-links">
        {% if post_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ post_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
        </span>

        {% if post_list.has_next %}
            <a href="?page={{ post_list.next_page_number }}">next</a>
            <a href="?page={{ post_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  

</div>
       </div>
       

{% endblock %} 






      
        
        
        
     